<!DOCTYPE html>
html(lang="en-EN")
	head
		meta(charset="UTF-8")
		//- Keywords
		meta(name="keywords" content="")
		//- Description
		meta(name="description" content="")
		//- Mobile
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- Title
		title test
		//- Icon
		link(rel="shortcut icon" href="" type="image/png")
		//- Style CSS
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/main.css")
	body
		div.app
			div.container
				//- include ../_partials/header
				
		script(src="js/libs.min.js")
		script(src="js/main.js")