<!DOCTYPE html>
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		//- Keywords
		meta(name="keywords" content="")
		//- Description
		meta(name="description" content="")
		//- Mobile
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- Title
		title Retro
		//- Icon
		link(rel="shortcut icon" href="" type="image/png")
		//- Font Awesome
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
		//- Style CSS
		link(rel="stylesheet" href="css/main.css")
	body

		include ../_partials/sections/header
		
		script(src="js/libs.min.js")
		script(src="js/main.js")